<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Product Id="EE3C27B0-7199-4530-B6E6-B1BBC742AE12" Name="Cromite" Language="1033" Version="131.0.6778.205" Manufacturer="The Cromite Authors" UpgradeCode="37AC5B86-6A6E-4AC5-9504-46F761124BFF">
        <Package Description="Cromite MSI Installation Package" Comments="Cromite Installer" InstallerVersion="200" Compressed="yes" />
        <Media Id="1" Cabinet="simple.cab" EmbedCab="yes" />
        <Directory Id="TARGETDIR" Name="SourceDir">
            <Directory Id="DesktopFolder" />
            <Directory Id="ProgramMenuFolder">
                <Directory Id="ProgramMenuDir" Name="Cromite">
                    <Component Id="StartMenuShortcuts" Guid="735A8D0C-8ADC-4384-A816-B5E0F538BED0">
                        <RemoveFolder Id="ProgramMenuDir" On="uninstall" />
                        <RegistryValue Root="HKCU" Key="Software\[Manufacturer]\[ProductName]" Type="string" Value="" />
                        <Shortcut Id="UninstallProduct" Name="Uninstall Cromite" Description="Uninstalls Cromite from this computer" Target="[System64Folder]msiexec.exe" Arguments="/x [ProductCode]" />
                    </Component>
                </Directory>
            </Directory>
            <Directory Id="DATA" Name="data">
                <Component Id="_131.0.6778.205.MANIFEST" DiskId="1" Guid="1E9CDE79-A69B-414E-B4B3-36464BEAA5D7">
                    <File Id="_131.0.6778.205.MANIFEST" Name="131.0.6778.205.manifest" Source="QtIFW\packages\com.vendor.root\data\131.0.6778.205.manifest" />
                </Component>
                <Component Id="CHROME.DLL" DiskId="1" Guid="C7A3E3EB-8949-47CF-828E-02EDD48E8186">
                    <File Id="CHROME.DLL" Name="chrome.dll" Source="QtIFW\packages\com.vendor.root\data\chrome.dll" />
                </Component>
                <Component Id="CHROME.EXE" DiskId="1" Guid="5FDA6E3B-ED28-4230-8069-CB869E9B3F84">
                    <File Id="CHROME.EXE" Name="chrome.exe" Source="QtIFW\packages\com.vendor.root\data\chrome.exe" />
                </Component>
                <Component Id="CHROME_100_PERCENT.PAK" DiskId="1" Guid="92D618E8-806D-4AAF-BDB6-74F0637C0205">
                    <File Id="CHROME_100_PERCENT.PAK" Name="chrome_100_percent.pak" Source="QtIFW\packages\com.vendor.root\data\chrome_100_percent.pak" />
                </Component>
                <Component Id="CHROME_200_PERCENT.PAK" DiskId="1" Guid="91142342-360E-43D6-B131-AD2190D85A47">
                    <File Id="CHROME_200_PERCENT.PAK" Name="chrome_200_percent.pak" Source="QtIFW\packages\com.vendor.root\data\chrome_200_percent.pak" />
                </Component>
                <Component Id="CHROME_ELF.DLL" DiskId="1" Guid="34FA106C-79F7-4AB5-9BB9-2077CA6DBE7E">
                    <File Id="CHROME_ELF.DLL" Name="chrome_elf.dll" Source="QtIFW\packages\com.vendor.root\data\chrome_elf.dll" />
                </Component>
                <Component Id="CHROME_PROXY.EXE" DiskId="1" Guid="165E3324-8077-4CD4-B1B3-2ED89F90E7C7">
                    <File Id="CHROME_PROXY.EXE" Name="chrome_proxy.exe" Source="QtIFW\packages\com.vendor.root\data\chrome_proxy.exe" />
                </Component>
                <Component Id="CHROME_PWA_LAUNCHER.EXE" DiskId="1" Guid="A88B6DF9-7DA2-4278-8605-D6363E708A80">
                    <File Id="CHROME_PWA_LAUNCHER.EXE" Name="chrome_pwa_launcher.exe" Source="QtIFW\packages\com.vendor.root\data\chrome_pwa_launcher.exe" />
                </Component>
                <Component Id="CHROME_WER.DLL" DiskId="1" Guid="CD5E2B5A-801A-4F02-8CB7-6B36FBB5CDD4">
                    <File Id="CHROME_WER.DLL" Name="chrome_wer.dll" Source="QtIFW\packages\com.vendor.root\data\chrome_wer.dll" />
                </Component>
                <Component Id="D3DCOMPILER_47.DLL" DiskId="1" Guid="6F509C52-E3D7-4C17-A923-99036D1AA49C">
                    <File Id="D3DCOMPILER_47.DLL" Name="d3dcompiler_47.dll" Source="QtIFW\packages\com.vendor.root\data\d3dcompiler_47.dll" />
                </Component>
                <Component Id="ELEVATION_SERVICE.EXE" DiskId="1" Guid="114B20B5-352D-43CB-90C9-2B7C778A35D9">
                    <File Id="ELEVATION_SERVICE.EXE" Name="elevation_service.exe" Source="QtIFW\packages\com.vendor.root\data\elevation_service.exe" />
                </Component>
                <Component Id="FIRST_RUN" DiskId="1" Guid="082F8303-1014-44FF-8D15-D10AB17C5D2F">
                    <File Id="FIRST_RUN" Name="First Run" Source="QtIFW\packages\com.vendor.root\data\First Run" />
                </Component>
                <Component Id="HEADLESS_LIB_DATA.PAK" DiskId="1" Guid="73446AC6-08C4-4080-B7CC-837FEB780D2E">
                    <File Id="HEADLESS_LIB_DATA.PAK" Name="headless_lib_data.pak" Source="QtIFW\packages\com.vendor.root\data\headless_lib_data.pak" />
                </Component>
                <Component Id="ICUDTL.DAT" DiskId="1" Guid="077A3EC8-C4DE-4466-8B98-DB93B6B1EC4C">
                    <File Id="ICUDTL.DAT" Name="icudtl.dat" Source="QtIFW\packages\com.vendor.root\data\icudtl.dat" />
                </Component>
                <Component Id="LIBEGL.DLL" DiskId="1" Guid="7DD47806-22F3-4144-8315-22B1FDF0E0B0">
                    <File Id="LIBEGL.DLL" Name="libEGL.dll" Source="QtIFW\packages\com.vendor.root\data\libEGL.dll" />
                </Component>
                <Component Id="LIBGLESV2.DLL" DiskId="1" Guid="859071E4-4E3D-4A89-8848-A336C7E4EDCD">
                    <File Id="LIBGLESV2.DLL" Name="libGLESv2.dll" Source="QtIFW\packages\com.vendor.root\data\libGLESv2.dll" />
                </Component>
                <Component Id="LOGO.PNG" DiskId="1" Guid="2D0B8AA9-3D72-46EF-B9C8-B61DA0545F50">
                    <File Id="LOGO.PNG" Name="Logo.png" Source="QtIFW\packages\com.vendor.root\data\Logo.png" />
                </Component>
                <Component Id="NOTIFICATION_HELPER.EXE" DiskId="1" Guid="D6DC0F41-CED7-432C-BF09-C4B6ACB8E089">
                    <File Id="NOTIFICATION_HELPER.EXE" Name="notification_helper.exe" Source="QtIFW\packages\com.vendor.root\data\notification_helper.exe" />
                </Component>
                <Component Id="RESOURCES.PAK" DiskId="1" Guid="9A6C3D87-8AEE-45E3-B10A-81D4C8930E50">
                    <File Id="RESOURCES.PAK" Name="resources.pak" Source="QtIFW\packages\com.vendor.root\data\resources.pak" />
                </Component>
                <Component Id="SMALLLOGO.PNG" DiskId="1" Guid="7BDC179C-863A-4F05-A9C2-CF6DFB21AB61">
                    <File Id="SMALLLOGO.PNG" Name="SmallLogo.png" Source="QtIFW\packages\com.vendor.root\data\SmallLogo.png" />
                </Component>
                <Component Id="SNAPSHOT_BLOB.BIN" DiskId="1" Guid="C296F133-51FA-4589-A946-50F27EADBA5A">
                    <File Id="SNAPSHOT_BLOB.BIN" Name="snapshot_blob.bin" Source="QtIFW\packages\com.vendor.root\data\snapshot_blob.bin" />
                </Component>
                <Component Id="VKICD_MOCK_ICD.DLL" DiskId="1" Guid="F342CFB2-1D6C-48DC-8CE6-75E235B3693A">
                    <File Id="VKICD_MOCK_ICD.DLL" Name="VkICD_mock_icd.dll" Source="QtIFW\packages\com.vendor.root\data\VkICD_mock_icd.dll" />
                </Component>
                <Component Id="VKLAYER_KHRONOS_VALIDATION.DLL" DiskId="1" Guid="3089B1BC-69AD-47CD-8F27-8A3E0DD8A123">
                    <File Id="VKLAYER_KHRONOS_VALIDATION.DLL" Name="VkLayer_khronos_validation.dll" Source="QtIFW\packages\com.vendor.root\data\VkLayer_khronos_validation.dll" />
                </Component>
                <Component Id="VK_SWIFTSHADER.DLL" DiskId="1" Guid="42011C15-1AD9-4596-A288-C75666D55CC2">
                    <File Id="VK_SWIFTSHADER.DLL" Name="vk_swiftshader.dll" Source="QtIFW\packages\com.vendor.root\data\vk_swiftshader.dll" />
                </Component>
                <Component Id="VULKAN_1.DLL" DiskId="1" Guid="A8321E9D-350C-4F73-9B28-DACC28532A0A">
                    <File Id="VULKAN_1.DLL" Name="vulkan-1.dll" Source="QtIFW\packages\com.vendor.root\data\vulkan-1.dll" />
                </Component>
                <Directory Id="LOCALES" Name="locales">
                    <Component Id="AF.PAK" DiskId="1" Guid="026EABFB-4AA1-4DBC-A54F-E9B82E8C84EB">
                        <File Id="AF.PAK" Name="af.pak" Source="QtIFW\packages\com.vendor.root\data\locales\af.pak" />
                    </Component>
                    <Component Id="AF.PAK.INFO" DiskId="1" Guid="02CE825C-711B-44F3-97E4-09163BADF60B">
                        <File Id="AF.PAK.INFO" Name="af.pak.info" Source="QtIFW\packages\com.vendor.root\data\locales\af.pak.info" />
                    </Component>
                    <Component Id="AM.PAK" DiskId="1" Guid="5794DEFC-9828-46E3-BCAF-463994115DAA">
                        <File Id="AM.PAK" Name="am.pak" Source="QtIFW\packages\com.vendor.root\data\locales\am.pak" />
                    </Component>
                    <Component Id="AM.PAK.INFO" DiskId="1" Guid="C6E97C69-679B-474A-8B95-8B891DEAC5E5">
                        <File Id="AM.PAK.INFO" Name="am.pak.info" Source="QtIFW\packages\com.vendor.root\data\locales\am.pak.info" />
                    </Component>
                    <Component Id="AR.PAK" DiskId="1" Guid="B26F561E-2833-4E41-A1A0-9C661C0CB5C3">
                        <File Id="AR.PAK" Name="ar.pak" Source="QtIFW\packages\com.vendor.root\data\locales\ar.pak" />
                    </Component>
                    <Component Id="AR.PAK.INFO" DiskId="1" Guid="5D8DE36E-6823-4D77-AFEF-4BC248E1BE37">
                        <File Id="AR.PAK.INFO" Name="ar.pak.info" Source="QtIFW\packages\com.vendor.root\data\locales\ar.pak.info" />
                    </Component>
                    <Component Id="BG.PAK" DiskId="1" Guid="54F2E139-51D5-454B-9E1F-093CD81988C3">
                        <File Id="BG.PAK" Name="bg.pak" Source="QtIFW\packages\com.vendor.root\data\locales\bg.pak" />
                    </Component>
                    <Component Id="BG.PAK.INFO" DiskId="1" Guid="05CE0675-6902-4CB9-B60C-44B592E9BD4C">
                        <File Id="BG.PAK.INFO" Name="bg.pak.info" Source="QtIFW\packages\com.vendor.root\data\locales\bg.pak.info" />
                    </Component>
                    <Component Id="BN.PAK" DiskId="1" Guid="77138CCC-94E4-4F98-9DB0-09088095D69D">
                        <File Id="BN.PAK" Name="bn.pak" Source="QtIFW\packages\com.vendor.root\data\locales\bn.pak" />
                    </Component>
                    <Component Id="BN.PAK.INFO" DiskId="1" Guid="2A0D574F-A8AC-4931-ACEA-7DAE19BC726B">
                        <File Id="BN.PAK.INFO" Name="bn.pak.info" Source="QtIFW\packages\com.vendor.root\data\locales\bn.pak.info" />
                    </Component>
                    <Component Id="CA.PAK" DiskId="1" Guid="F171D38A-F410-468E-B6DE-CD91962E1ED4">
                        <File Id="CA.PAK" Name="ca.pak" Source="QtIFW\packages\com.vendor.root\data\locales\ca.pak" />
                    </Component>
                    <Component Id="CA.PAK.INFO" DiskId="1" Guid="203FCF1E-E27A-40FB-8AB4-4CDBCCEA48E0">
                        <File Id="CA.PAK.INFO" Name="ca.pak.info" Source="QtIFW\packages\com.vendor.root\data\locales\ca.pak.info" />
                    </Component>
                    <Component Id="CS.PAK" DiskId="1" Guid="F9EF8C62-8E55-4E48-8D31-06AF54E1CE4B">
                        <File Id="CS.PAK" Name="cs.pak" Source="QtIFW\packages\com.vendor.root\data\locales\cs.pak" />
                    </Component>
                    <Component Id="CS.PAK.INFO" DiskId="1" Guid="B827EA8E-94BB-4B7A-94AC-BB4B58B4BCD5">
                        <File Id="CS.PAK.INFO" Name="cs.pak.info" Source="QtIFW\packages\com.vendor.root\data\locales\cs.pak.info" />
                    </Component>
                    <Component Id="DA.PAK" DiskId="1" Guid="4542714C-B44A-4EFB-B7CC-11A58AC4E7B0">
                        <File Id="DA.PAK" Name="da.pak" Source="QtIFW\packages\com.vendor.root\data\locales\da.pak" />
                    </Component>
                    <Component Id="DA.PAK.INFO" DiskId="1" Guid="B4176527-F7E7-451B-8249-848B0A7C3E2C">
                        <File Id="DA.PAK.INFO" Name="da.pak.info" Source="QtIFW\packages\com.vendor.root\data\locales\da.pak.info" />
                    </Component>
                    <Component Id="DE.PAK" DiskId="1" Guid="C7017344-563F-4910-8957-22D48244ACA9">
                        <File Id="DE.PAK" Name="de.pak" Source="QtIFW\packages\com.vendor.root\data\locales\de.pak" />
                    </Component>
                    <Component Id="DE.PAK.INFO" DiskId="1" Guid="E5763DE8-7E03-4110-8D1F-A405342CEA65">
                        <File Id="DE.PAK.INFO" Name="de.pak.info" Source="QtIFW\packages\com.vendor.root\data\locales\de.pak.info" />
                    </Component>
                    <Component Id="EL.PAK" DiskId="1" Guid="E1A6F977-C79F-4B41-8096-348454F00E98">
                        <File Id="EL.PAK" Name="el.pak" Source="QtIFW\packages\com.vendor.root\data\locales\el.pak" />
                    </Component>
                    <Component Id="EL.PAK.INFO" DiskId="1" Guid="DE419C28-A977-4A92-98DF-9030AE0FEA11">
                        <File Id="EL.PAK.INFO" Name="el.pak.info" Source="QtIFW\packages\com.vendor.root\data\locales\el.pak.info" />
                    </Component>
                    <Component Id="EN_GB.PAK" DiskId="1" Guid="1A8121EC-AD8B-4890-A1E2-093C4E31EA80">
                        <File Id="EN_GB.PAK" Name="en-GB.pak" Source="QtIFW\packages\com.vendor.root\data\locales\en-GB.pak" />
                    </Component>
                    <Component Id="EN_GB.PAK.INFO" DiskId="1" Guid="E74B15CB-2D91-4002-969F-985E367B5066">
                        <File Id="EN_GB.PAK.INFO" Name="en-GB.pak.info" Source="QtIFW\packages\com.vendor.root\data\locales\en-GB.pak.info" />
                    </Component>
                    <Component Id="EN_US.PAK" DiskId="1" Guid="920AC335-04BA-4413-9AFE-41F38098593E">
                        <File Id="EN_US.PAK" Name="en-US.pak" Source="QtIFW\packages\com.vendor.root\data\locales\en-US.pak" />
                    </Component>
                    <Component Id="EN_US.PAK.INFO" DiskId="1" Guid="50BF93F3-824C-4680-BDE1-2B279C89A32D">
                        <File Id="EN_US.PAK.INFO" Name="en-US.pak.info" Source="QtIFW\packages\com.vendor.root\data\locales\en-US.pak.info" />
                    </Component>
                    <Component Id="ES_419.PAK" DiskId="1" Guid="A3C5E651-F4E8-4428-ACD8-8E5FECED792E">
                        <File Id="ES_419.PAK" Name="es-419.pak" Source="QtIFW\packages\com.vendor.root\data\locales\es-419.pak" />
                    </Component>
                    <Component Id="ES_419.PAK.INFO" DiskId="1" Guid="E62AA159-5819-417C-8666-4060F3B85B35">
                        <File Id="ES_419.PAK.INFO" Name="es-419.pak.info" Source="QtIFW\packages\com.vendor.root\data\locales\es-419.pak.info" />
                    </Component>
                    <Component Id="ES.PAK" DiskId="1" Guid="C3FB0C67-9B19-4192-BDCD-196F98452535">
                        <File Id="ES.PAK" Name="es.pak" Source="QtIFW\packages\com.vendor.root\data\locales\es.pak" />
                    </Component>
                    <Component Id="ES.PAK.INFO" DiskId="1" Guid="6B517A16-A21E-4874-ACA1-A9D8483B43B2">
                        <File Id="ES.PAK.INFO" Name="es.pak.info" Source="QtIFW\packages\com.vendor.root\data\locales\es.pak.info" />
                    </Component>
                    <Component Id="ET.PAK" DiskId="1" Guid="82ABBC63-8C74-410C-AFE6-93814B46EF97">
                        <File Id="ET.PAK" Name="et.pak" Source="QtIFW\packages\com.vendor.root\data\locales\et.pak" />
                    </Component>
                    <Component Id="ET.PAK.INFO" DiskId="1" Guid="08EA5E73-BE85-44EC-A703-EAE09A0DEC07">
                        <File Id="ET.PAK.INFO" Name="et.pak.info" Source="QtIFW\packages\com.vendor.root\data\locales\et.pak.info" />
                    </Component>
                    <Component Id="FA.PAK" DiskId="1" Guid="648F549C-72CE-4E35-85E9-7A6F26D0B476">
                        <File Id="FA.PAK" Name="fa.pak" Source="QtIFW\packages\com.vendor.root\data\locales\fa.pak" />
                    </Component>
                    <Component Id="FA.PAK.INFO" DiskId="1" Guid="4FD083A2-3A72-41AB-BECB-57FECE20ADB0">
                        <File Id="FA.PAK.INFO" Name="fa.pak.info" Source="QtIFW\packages\com.vendor.root\data\locales\fa.pak.info" />
                    </Component>
                    <Component Id="FI.PAK" DiskId="1" Guid="33614FA5-B547-4DDB-B848-0D7AF5A9A986">
                        <File Id="FI.PAK" Name="fi.pak" Source="QtIFW\packages\com.vendor.root\data\locales\fi.pak" />
                    </Component>
                    <Component Id="FI.PAK.INFO" DiskId="1" Guid="D01987F5-496D-4854-9904-9B2BC379759C">
                        <File Id="FI.PAK.INFO" Name="fi.pak.info" Source="QtIFW\packages\com.vendor.root\data\locales\fi.pak.info" />
                    </Component>
                    <Component Id="FIL.PAK" DiskId="1" Guid="DF18991A-DE76-40D6-985D-F69731197871">
                        <File Id="FIL.PAK" Name="fil.pak" Source="QtIFW\packages\com.vendor.root\data\locales\fil.pak" />
                    </Component>
                    <Component Id="FIL.PAK.INFO" DiskId="1" Guid="496DDDF3-41DF-4FF2-ABDE-6C0A985AC8E7">
                        <File Id="FIL.PAK.INFO" Name="fil.pak.info" Source="QtIFW\packages\com.vendor.root\data\locales\fil.pak.info" />
                    </Component>
                    <Component Id="FR.PAK" DiskId="1" Guid="9FD631B1-A973-4DFE-A0A8-03C1D01F6F30">
                        <File Id="FR.PAK" Name="fr.pak" Source="QtIFW\packages\com.vendor.root\data\locales\fr.pak" />
                    </Component>
                    <Component Id="FR.PAK.INFO" DiskId="1" Guid="6580D88B-61B2-481C-819C-2786B4C66824">
                        <File Id="FR.PAK.INFO" Name="fr.pak.info" Source="QtIFW\packages\com.vendor.root\data\locales\fr.pak.info" />
                    </Component>
                    <Component Id="GU.PAK" DiskId="1" Guid="55DAD578-F7F9-43C7-AEBE-A9B452D6F818">
                        <File Id="GU.PAK" Name="gu.pak" Source="QtIFW\packages\com.vendor.root\data\locales\gu.pak" />
                    </Component>
                    <Component Id="GU.PAK.INFO" DiskId="1" Guid="532855D9-C86A-4DC1-BCE8-C666996E40BB">
                        <File Id="GU.PAK.INFO" Name="gu.pak.info" Source="QtIFW\packages\com.vendor.root\data\locales\gu.pak.info" />
                    </Component>
                    <Component Id="HE.PAK" DiskId="1" Guid="5850BD8F-159B-48D9-A9C2-AC3FEE671B13">
                        <File Id="HE.PAK" Name="he.pak" Source="QtIFW\packages\com.vendor.root\data\locales\he.pak" />
                    </Component>
                    <Component Id="HE.PAK.INFO" DiskId="1" Guid="B0D2DCB5-3CE7-437C-A722-68C23FCB9F70">
                        <File Id="HE.PAK.INFO" Name="he.pak.info" Source="QtIFW\packages\com.vendor.root\data\locales\he.pak.info" />
                    </Component>
                    <Component Id="HI.PAK" DiskId="1" Guid="F5EA0BBC-33F5-449E-879B-6DDBB75AE291">
                        <File Id="HI.PAK" Name="hi.pak" Source="QtIFW\packages\com.vendor.root\data\locales\hi.pak" />
                    </Component>
                    <Component Id="HI.PAK.INFO" DiskId="1" Guid="0C2A6634-B34F-4078-AEBE-03FEC3BE83AF">
                        <File Id="HI.PAK.INFO" Name="hi.pak.info" Source="QtIFW\packages\com.vendor.root\data\locales\hi.pak.info" />
                    </Component>
                    <Component Id="HR.PAK" DiskId="1" Guid="14B0BD9B-AF0F-4F2C-8B62-4595ED80BE8D">
                        <File Id="HR.PAK" Name="hr.pak" Source="QtIFW\packages\com.vendor.root\data\locales\hr.pak" />
                    </Component>
                    <Component Id="HR.PAK.INFO" DiskId="1" Guid="D50A2CEB-9884-4EBD-969B-21BAE363E783">
                        <File Id="HR.PAK.INFO" Name="hr.pak.info" Source="QtIFW\packages\com.vendor.root\data\locales\hr.pak.info" />
                    </Component>
                    <Component Id="HU.PAK" DiskId="1" Guid="D76129DD-AAE7-41F7-823E-5FB33A6A6645">
                        <File Id="HU.PAK" Name="hu.pak" Source="QtIFW\packages\com.vendor.root\data\locales\hu.pak" />
                    </Component>
                    <Component Id="HU.PAK.INFO" DiskId="1" Guid="12283A7D-BC8F-451D-9A1B-7B17961C1056">
                        <File Id="HU.PAK.INFO" Name="hu.pak.info" Source="QtIFW\packages\com.vendor.root\data\locales\hu.pak.info" />
                    </Component>
                    <Component Id="ID.PAK" DiskId="1" Guid="A1EF6F0E-C6A2-458F-A851-B173EC849C69">
                        <File Id="ID.PAK" Name="id.pak" Source="QtIFW\packages\com.vendor.root\data\locales\id.pak" />
                    </Component>
                    <Component Id="ID.PAK.INFO" DiskId="1" Guid="EBF07054-1E66-4333-88B4-226361EDE845">
                        <File Id="ID.PAK.INFO" Name="id.pak.info" Source="QtIFW\packages\com.vendor.root\data\locales\id.pak.info" />
                    </Component>
                    <Component Id="IT.PAK" DiskId="1" Guid="1F2FE9BB-DC34-4E55-8399-F61891C077DB">
                        <File Id="IT.PAK" Name="it.pak" Source="QtIFW\packages\com.vendor.root\data\locales\it.pak" />
                    </Component>
                    <Component Id="IT.PAK.INFO" DiskId="1" Guid="E8A26AD5-6E48-441A-A85E-B0F3422710F7">
                        <File Id="IT.PAK.INFO" Name="it.pak.info" Source="QtIFW\packages\com.vendor.root\data\locales\it.pak.info" />
                    </Component>
                    <Component Id="JA.PAK" DiskId="1" Guid="11F93751-5CFB-4471-A3B6-6303155413A1">
                        <File Id="JA.PAK" Name="ja.pak" Source="QtIFW\packages\com.vendor.root\data\locales\ja.pak" />
                    </Component>
                    <Component Id="JA.PAK.INFO" DiskId="1" Guid="5B7659D0-AEA5-4A2D-847F-380B9DDB724F">
                        <File Id="JA.PAK.INFO" Name="ja.pak.info" Source="QtIFW\packages\com.vendor.root\data\locales\ja.pak.info" />
                    </Component>
                    <Component Id="KN.PAK" DiskId="1" Guid="0D73ADDF-CB49-4263-A225-E8DC65DA2D4B">
                        <File Id="KN.PAK" Name="kn.pak" Source="QtIFW\packages\com.vendor.root\data\locales\kn.pak" />
                    </Component>
                    <Component Id="KN.PAK.INFO" DiskId="1" Guid="F7ECD51D-90C6-4CBE-86E5-6CD1545794E9">
                        <File Id="KN.PAK.INFO" Name="kn.pak.info" Source="QtIFW\packages\com.vendor.root\data\locales\kn.pak.info" />
                    </Component>
                    <Component Id="KO.PAK" DiskId="1" Guid="5ACB2CB1-3A37-4B42-9F53-615B1E9263EB">
                        <File Id="KO.PAK" Name="ko.pak" Source="QtIFW\packages\com.vendor.root\data\locales\ko.pak" />
                    </Component>
                    <Component Id="KO.PAK.INFO" DiskId="1" Guid="56ED4D36-DA01-47A8-9E71-DDA32A5E9E00">
                        <File Id="KO.PAK.INFO" Name="ko.pak.info" Source="QtIFW\packages\com.vendor.root\data\locales\ko.pak.info" />
                    </Component>
                    <Component Id="LT.PAK" DiskId="1" Guid="331B5270-45FF-45A7-A3FF-B2D142CD34AE">
                        <File Id="LT.PAK" Name="lt.pak" Source="QtIFW\packages\com.vendor.root\data\locales\lt.pak" />
                    </Component>
                    <Component Id="LT.PAK.INFO" DiskId="1" Guid="7CB0B272-207A-4249-8DF1-967905C653C1">
                        <File Id="LT.PAK.INFO" Name="lt.pak.info" Source="QtIFW\packages\com.vendor.root\data\locales\lt.pak.info" />
                    </Component>
                    <Component Id="LV.PAK" DiskId="1" Guid="366D3345-713E-4490-AA61-EF3F8FBA1C7E">
                        <File Id="LV.PAK" Name="lv.pak" Source="QtIFW\packages\com.vendor.root\data\locales\lv.pak" />
                    </Component>
                    <Component Id="LV.PAK.INFO" DiskId="1" Guid="2C1FD8F5-041C-4B7E-8CE7-E7EB6DFA4F35">
                        <File Id="LV.PAK.INFO" Name="lv.pak.info" Source="QtIFW\packages\com.vendor.root\data\locales\lv.pak.info" />
                    </Component>
                    <Component Id="ML.PAK" DiskId="1" Guid="914AB24E-F9FB-4233-9656-D84D8BFCD725">
                        <File Id="ML.PAK" Name="ml.pak" Source="QtIFW\packages\com.vendor.root\data\locales\ml.pak" />
                    </Component>
                    <Component Id="ML.PAK.INFO" DiskId="1" Guid="3615F225-19AA-4BA5-8528-281AB8D03E37">
                        <File Id="ML.PAK.INFO" Name="ml.pak.info" Source="QtIFW\packages\com.vendor.root\data\locales\ml.pak.info" />
                    </Component>
                    <Component Id="MR.PAK" DiskId="1" Guid="36D6AD67-3760-4FA9-8CC1-99196EEFA022">
                        <File Id="MR.PAK" Name="mr.pak" Source="QtIFW\packages\com.vendor.root\data\locales\mr.pak" />
                    </Component>
                    <Component Id="MR.PAK.INFO" DiskId="1" Guid="F4855537-CC54-4074-9B6C-96DA48928885">
                        <File Id="MR.PAK.INFO" Name="mr.pak.info" Source="QtIFW\packages\com.vendor.root\data\locales\mr.pak.info" />
                    </Component>
                    <Component Id="MS.PAK" DiskId="1" Guid="C594DE57-00B6-46EE-948B-34C37AD3FF6E">
                        <File Id="MS.PAK" Name="ms.pak" Source="QtIFW\packages\com.vendor.root\data\locales\ms.pak" />
                    </Component>
                    <Component Id="MS.PAK.INFO" DiskId="1" Guid="F435ABA0-3E1C-416C-8F55-FAA5339BAF7C">
                        <File Id="MS.PAK.INFO" Name="ms.pak.info" Source="QtIFW\packages\com.vendor.root\data\locales\ms.pak.info" />
                    </Component>
                    <Component Id="NB.PAK" DiskId="1" Guid="FB23D250-7331-4471-A03A-54BC58B50B37">
                        <File Id="NB.PAK" Name="nb.pak" Source="QtIFW\packages\com.vendor.root\data\locales\nb.pak" />
                    </Component>
                    <Component Id="NB.PAK.INFO" DiskId="1" Guid="3BC9C869-3947-4CFA-A1A0-1F39A53A2759">
                        <File Id="NB.PAK.INFO" Name="nb.pak.info" Source="QtIFW\packages\com.vendor.root\data\locales\nb.pak.info" />
                    </Component>
                    <Component Id="NL.PAK" DiskId="1" Guid="A6F68C9D-B488-4DE4-BF7D-C1301157F030">
                        <File Id="NL.PAK" Name="nl.pak" Source="QtIFW\packages\com.vendor.root\data\locales\nl.pak" />
                    </Component>
                    <Component Id="NL.PAK.INFO" DiskId="1" Guid="5EC0BFAD-EC35-4702-96C4-9F653A35B55F">
                        <File Id="NL.PAK.INFO" Name="nl.pak.info" Source="QtIFW\packages\com.vendor.root\data\locales\nl.pak.info" />
                    </Component>
                    <Component Id="PL.PAK" DiskId="1" Guid="14552BA9-4A14-4C8D-8CD3-B72F83B3ACC6">
                        <File Id="PL.PAK" Name="pl.pak" Source="QtIFW\packages\com.vendor.root\data\locales\pl.pak" />
                    </Component>
                    <Component Id="PL.PAK.INFO" DiskId="1" Guid="D882581E-DF19-4E74-9A21-4154F1E02483">
                        <File Id="PL.PAK.INFO" Name="pl.pak.info" Source="QtIFW\packages\com.vendor.root\data\locales\pl.pak.info" />
                    </Component>
                    <Component Id="PT_BR.PAK" DiskId="1" Guid="A6F2E895-D0A4-401A-9001-D13EC65B0BB8">
                        <File Id="PT_BR.PAK" Name="pt-BR.pak" Source="QtIFW\packages\com.vendor.root\data\locales\pt-BR.pak" />
                    </Component>
                    <Component Id="PT_BR.PAK.INFO" DiskId="1" Guid="6E37FDF7-379F-442E-AB64-64FFFC568046">
                        <File Id="PT_BR.PAK.INFO" Name="pt-BR.pak.info" Source="QtIFW\packages\com.vendor.root\data\locales\pt-BR.pak.info" />
                    </Component>
                    <Component Id="PT_PT.PAK" DiskId="1" Guid="096A05C0-6421-409E-8EA9-52BDE8BC0BAD">
                        <File Id="PT_PT.PAK" Name="pt-PT.pak" Source="QtIFW\packages\com.vendor.root\data\locales\pt-PT.pak" />
                    </Component>
                    <Component Id="PT_PT.PAK.INFO" DiskId="1" Guid="6E1CEE08-8641-4230-B1FA-60F74449BFED">
                        <File Id="PT_PT.PAK.INFO" Name="pt-PT.pak.info" Source="QtIFW\packages\com.vendor.root\data\locales\pt-PT.pak.info" />
                    </Component>
                    <Component Id="RO.PAK" DiskId="1" Guid="CCDF12FD-ECE5-44D3-9F4F-CCE113003083">
                        <File Id="RO.PAK" Name="ro.pak" Source="QtIFW\packages\com.vendor.root\data\locales\ro.pak" />
                    </Component>
                    <Component Id="RO.PAK.INFO" DiskId="1" Guid="183BFCBA-806F-485D-8687-4474078011E1">
                        <File Id="RO.PAK.INFO" Name="ro.pak.info" Source="QtIFW\packages\com.vendor.root\data\locales\ro.pak.info" />
                    </Component>
                    <Component Id="RU.PAK" DiskId="1" Guid="12FB10C0-9E14-4A2E-8F32-6EF425DADB8D">
                        <File Id="RU.PAK" Name="ru.pak" Source="QtIFW\packages\com.vendor.root\data\locales\ru.pak" />
                    </Component>
                    <Component Id="RU.PAK.INFO" DiskId="1" Guid="9F51B6B4-8883-4721-B310-E95A3791DB0B">
                        <File Id="RU.PAK.INFO" Name="ru.pak.info" Source="QtIFW\packages\com.vendor.root\data\locales\ru.pak.info" />
                    </Component>
                    <Component Id="SK.PAK" DiskId="1" Guid="56BD5DAC-29D0-49CC-958D-0B31725069AC">
                        <File Id="SK.PAK" Name="sk.pak" Source="QtIFW\packages\com.vendor.root\data\locales\sk.pak" />
                    </Component>
                    <Component Id="SK.PAK.INFO" DiskId="1" Guid="BCF2B690-CC14-4DDC-AE36-A0D8EE0F859D">
                        <File Id="SK.PAK.INFO" Name="sk.pak.info" Source="QtIFW\packages\com.vendor.root\data\locales\sk.pak.info" />
                    </Component>
                    <Component Id="SL.PAK" DiskId="1" Guid="4E7EE76E-920D-4EDE-9EAA-1FCED5932905">
                        <File Id="SL.PAK" Name="sl.pak" Source="QtIFW\packages\com.vendor.root\data\locales\sl.pak" />
                    </Component>
                    <Component Id="SL.PAK.INFO" DiskId="1" Guid="13FF7E5B-6E83-4374-908B-5CE7E9186D02">
                        <File Id="SL.PAK.INFO" Name="sl.pak.info" Source="QtIFW\packages\com.vendor.root\data\locales\sl.pak.info" />
                    </Component>
                    <Component Id="SR.PAK" DiskId="1" Guid="6AF6C988-1DAB-4693-BE24-68FF30F3C17E">
                        <File Id="SR.PAK" Name="sr.pak" Source="QtIFW\packages\com.vendor.root\data\locales\sr.pak" />
                    </Component>
                    <Component Id="SR.PAK.INFO" DiskId="1" Guid="2B45F91E-E8AB-4FA9-83B9-32FB96799F0A">
                        <File Id="SR.PAK.INFO" Name="sr.pak.info" Source="QtIFW\packages\com.vendor.root\data\locales\sr.pak.info" />
                    </Component>
                    <Component Id="SV.PAK" DiskId="1" Guid="B84DB1C1-0BD8-4C57-B669-AC4781B5F363">
                        <File Id="SV.PAK" Name="sv.pak" Source="QtIFW\packages\com.vendor.root\data\locales\sv.pak" />
                    </Component>
                    <Component Id="SV.PAK.INFO" DiskId="1" Guid="7C700499-95EF-4287-AB8F-670668E5E77A">
                        <File Id="SV.PAK.INFO" Name="sv.pak.info" Source="QtIFW\packages\com.vendor.root\data\locales\sv.pak.info" />
                    </Component>
                    <Component Id="SW.PAK" DiskId="1" Guid="516981E4-7AD9-42C1-AFAB-25CE7533FB4B">
                        <File Id="SW.PAK" Name="sw.pak" Source="QtIFW\packages\com.vendor.root\data\locales\sw.pak" />
                    </Component>
                    <Component Id="SW.PAK.INFO" DiskId="1" Guid="3ABED3BE-C014-4152-AF81-FD679A5EA00C">
                        <File Id="SW.PAK.INFO" Name="sw.pak.info" Source="QtIFW\packages\com.vendor.root\data\locales\sw.pak.info" />
                    </Component>
                    <Component Id="TA.PAK" DiskId="1" Guid="0B9E75C7-2EAD-4C45-B217-BD74EB067765">
                        <File Id="TA.PAK" Name="ta.pak" Source="QtIFW\packages\com.vendor.root\data\locales\ta.pak" />
                    </Component>
                    <Component Id="TA.PAK.INFO" DiskId="1" Guid="B20C239F-6115-4000-A86E-8ED4D2229AC3">
                        <File Id="TA.PAK.INFO" Name="ta.pak.info" Source="QtIFW\packages\com.vendor.root\data\locales\ta.pak.info" />
                    </Component>
                    <Component Id="TE.PAK" DiskId="1" Guid="9F31E2AE-37B1-4386-90E3-EA7667E32AE8">
                        <File Id="TE.PAK" Name="te.pak" Source="QtIFW\packages\com.vendor.root\data\locales\te.pak" />
                    </Component>
                    <Component Id="TE.PAK.INFO" DiskId="1" Guid="C47E14DF-565F-44FF-9E25-0FDB9DD9856F">
                        <File Id="TE.PAK.INFO" Name="te.pak.info" Source="QtIFW\packages\com.vendor.root\data\locales\te.pak.info" />
                    </Component>
                    <Component Id="TH.PAK" DiskId="1" Guid="D77A8F2C-3D13-4F8D-807D-E74563CB30B5">
                        <File Id="TH.PAK" Name="th.pak" Source="QtIFW\packages\com.vendor.root\data\locales\th.pak" />
                    </Component>
                    <Component Id="TH.PAK.INFO" DiskId="1" Guid="8293DE74-C514-4BAC-8D28-F7DCA75B11E1">
                        <File Id="TH.PAK.INFO" Name="th.pak.info" Source="QtIFW\packages\com.vendor.root\data\locales\th.pak.info" />
                    </Component>
                    <Component Id="TR.PAK" DiskId="1" Guid="905B4177-F8BB-4F92-AABD-FA5782AC1767">
                        <File Id="TR.PAK" Name="tr.pak" Source="QtIFW\packages\com.vendor.root\data\locales\tr.pak" />
                    </Component>
                    <Component Id="TR.PAK.INFO" DiskId="1" Guid="973D5861-639C-4F44-8686-B3310DE37DD4">
                        <File Id="TR.PAK.INFO" Name="tr.pak.info" Source="QtIFW\packages\com.vendor.root\data\locales\tr.pak.info" />
                    </Component>
                    <Component Id="UK.PAK" DiskId="1" Guid="7B19D0D4-F6FE-4074-99E0-ADB1A25B98E0">
                        <File Id="UK.PAK" Name="uk.pak" Source="QtIFW\packages\com.vendor.root\data\locales\uk.pak" />
                    </Component>
                    <Component Id="UK.PAK.INFO" DiskId="1" Guid="1CB6DF09-BCA5-4A3C-BFB0-437553A037D0">
                        <File Id="UK.PAK.INFO" Name="uk.pak.info" Source="QtIFW\packages\com.vendor.root\data\locales\uk.pak.info" />
                    </Component>
                    <Component Id="UR.PAK" DiskId="1" Guid="E86D8403-C5F9-4B47-A887-C90E1295F14D">
                        <File Id="UR.PAK" Name="ur.pak" Source="QtIFW\packages\com.vendor.root\data\locales\ur.pak" />
                    </Component>
                    <Component Id="UR.PAK.INFO" DiskId="1" Guid="B87CB772-1A79-46DE-918F-6CA2173376F2">
                        <File Id="UR.PAK.INFO" Name="ur.pak.info" Source="QtIFW\packages\com.vendor.root\data\locales\ur.pak.info" />
                    </Component>
                    <Component Id="VI.PAK" DiskId="1" Guid="70918948-46A2-4222-94D6-612CB6BDEAA8">
                        <File Id="VI.PAK" Name="vi.pak" Source="QtIFW\packages\com.vendor.root\data\locales\vi.pak" />
                    </Component>
                    <Component Id="VI.PAK.INFO" DiskId="1" Guid="C553B537-0D6B-47EA-AF1C-C59128E9EC41">
                        <File Id="VI.PAK.INFO" Name="vi.pak.info" Source="QtIFW\packages\com.vendor.root\data\locales\vi.pak.info" />
                    </Component>
                    <Component Id="ZH_CN.PAK" DiskId="1" Guid="E6A12859-481D-42A9-AB14-47223AD584B2">
                        <File Id="ZH_CN.PAK" Name="zh-CN.pak" Source="QtIFW\packages\com.vendor.root\data\locales\zh-CN.pak" />
                    </Component>
                    <Component Id="ZH_CN.PAK.INFO" DiskId="1" Guid="9B120085-63F4-4ABA-8D77-CAC3D7E5D4D4">
                        <File Id="ZH_CN.PAK.INFO" Name="zh-CN.pak.info" Source="QtIFW\packages\com.vendor.root\data\locales\zh-CN.pak.info" />
                    </Component>
                    <Component Id="ZH_TW.PAK" DiskId="1" Guid="77B9FB8F-8D40-4551-A242-0DB1E9C0C8E4">
                        <File Id="ZH_TW.PAK" Name="zh-TW.pak" Source="QtIFW\packages\com.vendor.root\data\locales\zh-TW.pak" />
                    </Component>
                    <Component Id="ZH_TW.PAK.INFO" DiskId="1" Guid="13415686-C96A-4511-A6B8-C1448DE4F7E0">
                        <File Id="ZH_TW.PAK.INFO" Name="zh-TW.pak.info" Source="QtIFW\packages\com.vendor.root\data\locales\zh-TW.pak.info" />
                    </Component>
                </Directory>
            </Directory>
        </Directory>
        <Feature Id="DefaultFeature" Title="Main Feature" Level="1">
            <ComponentRef Id="_131.0.6778.205.MANIFEST" />
            <ComponentRef Id="CHROME.DLL" />
            <ComponentRef Id="CHROME.EXE" />
            <ComponentRef Id="CHROME_100_PERCENT.PAK" />
            <ComponentRef Id="CHROME_200_PERCENT.PAK" />
            <ComponentRef Id="CHROME_ELF.DLL" />
            <ComponentRef Id="CHROME_PROXY.EXE" />
            <ComponentRef Id="CHROME_PWA_LAUNCHER.EXE" />
            <ComponentRef Id="CHROME_WER.DLL" />
            <ComponentRef Id="D3DCOMPILER_47.DLL" />
            <ComponentRef Id="ELEVATION_SERVICE.EXE" />
            <ComponentRef Id="FIRST_RUN" />
            <ComponentRef Id="HEADLESS_LIB_DATA.PAK" />
            <ComponentRef Id="ICUDTL.DAT" />
            <ComponentRef Id="LIBEGL.DLL" />
            <ComponentRef Id="LIBGLESV2.DLL" />
            <ComponentRef Id="LOGO.PNG" />
            <ComponentRef Id="NOTIFICATION_HELPER.EXE" />
            <ComponentRef Id="RESOURCES.PAK" />
            <ComponentRef Id="SMALLLOGO.PNG" />
            <ComponentRef Id="SNAPSHOT_BLOB.BIN" />
            <ComponentRef Id="VKICD_MOCK_ICD.DLL" />
            <ComponentRef Id="VKLAYER_KHRONOS_VALIDATION.DLL" />
            <ComponentRef Id="VK_SWIFTSHADER.DLL" />
            <ComponentRef Id="VULKAN_1.DLL" />
            <ComponentRef Id="AF.PAK" />
            <ComponentRef Id="AF.PAK.INFO" />
            <ComponentRef Id="AM.PAK" />
            <ComponentRef Id="AM.PAK.INFO" />
            <ComponentRef Id="AR.PAK" />
            <ComponentRef Id="AR.PAK.INFO" />
            <ComponentRef Id="BG.PAK" />
            <ComponentRef Id="BG.PAK.INFO" />
            <ComponentRef Id="BN.PAK" />
            <ComponentRef Id="BN.PAK.INFO" />
            <ComponentRef Id="CA.PAK" />
            <ComponentRef Id="CA.PAK.INFO" />
            <ComponentRef Id="CS.PAK" />
            <ComponentRef Id="CS.PAK.INFO" />
            <ComponentRef Id="DA.PAK" />
            <ComponentRef Id="DA.PAK.INFO" />
            <ComponentRef Id="DE.PAK" />
            <ComponentRef Id="DE.PAK.INFO" />
            <ComponentRef Id="EL.PAK" />
            <ComponentRef Id="EL.PAK.INFO" />
            <ComponentRef Id="EN_GB.PAK" />
            <ComponentRef Id="EN_GB.PAK.INFO" />
            <ComponentRef Id="EN_US.PAK" />
            <ComponentRef Id="EN_US.PAK.INFO" />
            <ComponentRef Id="ES_419.PAK" />
            <ComponentRef Id="ES_419.PAK.INFO" />
            <ComponentRef Id="ES.PAK" />
            <ComponentRef Id="ES.PAK.INFO" />
            <ComponentRef Id="ET.PAK" />
            <ComponentRef Id="ET.PAK.INFO" />
            <ComponentRef Id="FA.PAK" />
            <ComponentRef Id="FA.PAK.INFO" />
            <ComponentRef Id="FI.PAK" />
            <ComponentRef Id="FI.PAK.INFO" />
            <ComponentRef Id="FIL.PAK" />
            <ComponentRef Id="FIL.PAK.INFO" />
            <ComponentRef Id="FR.PAK" />
            <ComponentRef Id="FR.PAK.INFO" />
            <ComponentRef Id="GU.PAK" />
            <ComponentRef Id="GU.PAK.INFO" />
            <ComponentRef Id="HE.PAK" />
            <ComponentRef Id="HE.PAK.INFO" />
            <ComponentRef Id="HI.PAK" />
            <ComponentRef Id="HI.PAK.INFO" />
            <ComponentRef Id="HR.PAK" />
            <ComponentRef Id="HR.PAK.INFO" />
            <ComponentRef Id="HU.PAK" />
            <ComponentRef Id="HU.PAK.INFO" />
            <ComponentRef Id="ID.PAK" />
            <ComponentRef Id="ID.PAK.INFO" />
            <ComponentRef Id="IT.PAK" />
            <ComponentRef Id="IT.PAK.INFO" />
            <ComponentRef Id="JA.PAK" />
            <ComponentRef Id="JA.PAK.INFO" />
            <ComponentRef Id="KN.PAK" />
            <ComponentRef Id="KN.PAK.INFO" />
            <ComponentRef Id="KO.PAK" />
            <ComponentRef Id="KO.PAK.INFO" />
            <ComponentRef Id="LT.PAK" />
            <ComponentRef Id="LT.PAK.INFO" />
            <ComponentRef Id="LV.PAK" />
            <ComponentRef Id="LV.PAK.INFO" />
            <ComponentRef Id="ML.PAK" />
            <ComponentRef Id="ML.PAK.INFO" />
            <ComponentRef Id="MR.PAK" />
            <ComponentRef Id="MR.PAK.INFO" />
            <ComponentRef Id="MS.PAK" />
            <ComponentRef Id="MS.PAK.INFO" />
            <ComponentRef Id="NB.PAK" />
            <ComponentRef Id="NB.PAK.INFO" />
            <ComponentRef Id="NL.PAK" />
            <ComponentRef Id="NL.PAK.INFO" />
            <ComponentRef Id="PL.PAK" />
            <ComponentRef Id="PL.PAK.INFO" />
            <ComponentRef Id="PT_BR.PAK" />
            <ComponentRef Id="PT_BR.PAK.INFO" />
            <ComponentRef Id="PT_PT.PAK" />
            <ComponentRef Id="PT_PT.PAK.INFO" />
            <ComponentRef Id="RO.PAK" />
            <ComponentRef Id="RO.PAK.INFO" />
            <ComponentRef Id="RU.PAK" />
            <ComponentRef Id="RU.PAK.INFO" />
            <ComponentRef Id="SK.PAK" />
            <ComponentRef Id="SK.PAK.INFO" />
            <ComponentRef Id="SL.PAK" />
            <ComponentRef Id="SL.PAK.INFO" />
            <ComponentRef Id="SR.PAK" />
            <ComponentRef Id="SR.PAK.INFO" />
            <ComponentRef Id="SV.PAK" />
            <ComponentRef Id="SV.PAK.INFO" />
            <ComponentRef Id="SW.PAK" />
            <ComponentRef Id="SW.PAK.INFO" />
            <ComponentRef Id="TA.PAK" />
            <ComponentRef Id="TA.PAK.INFO" />
            <ComponentRef Id="TE.PAK" />
            <ComponentRef Id="TE.PAK.INFO" />
            <ComponentRef Id="TH.PAK" />
            <ComponentRef Id="TH.PAK.INFO" />
            <ComponentRef Id="TR.PAK" />
            <ComponentRef Id="TR.PAK.INFO" />
            <ComponentRef Id="UK.PAK" />
            <ComponentRef Id="UK.PAK.INFO" />
            <ComponentRef Id="UR.PAK" />
            <ComponentRef Id="UR.PAK.INFO" />
            <ComponentRef Id="VI.PAK" />
            <ComponentRef Id="VI.PAK.INFO" />
            <ComponentRef Id="ZH_CN.PAK" />
            <ComponentRef Id="ZH_CN.PAK.INFO" />
            <ComponentRef Id="ZH_TW.PAK" />
            <ComponentRef Id="ZH_TW.PAK.INFO" />
            <ComponentRef Id="StartMenuShortcuts" />
            <ComponentRef Id="LICENSE" />
        </Feature>
        <UIRef Id="WixUI_FeatureTree" />
        <!-- Define the UI with a custom license agreement -->
        <UI>
            <!-- Reference to License Agreement Dialog -->
            <DialogRef Id="LicenseAgreementDlg" />
            <!-- Sequence for showing the license agreement dialog -->
            <InstallUISequence>
                <Show Dialog="LicenseAgreementDlg" After="WelcomeDlg" />
            </InstallUISequence>
        </UI>
        <!-- Property for License File Path -->
        <Property Id="LicenseFile" Value="[#LICENSE]" />
        <Property Id="INSTALLDIR" Value="C:\Program Files\Cromite" />
        <Icon Id="DesktopIcon.exe" SourceFile="source_data\chrome.exe" />
        <Icon Id="StartMenuIcon.exe" SourceFile="source_data\chrome.exe" />
    </Product>
</Wix>